<div class="container pt-5">
  <div class="all-users-header d-flex justify-content-between align-items-center">
    <h1>All owners</h1>
    <%= link_to "Back to homepage", root_path %>
  </div>
  <hr>

  <ul>
    <% @owners.each do |owner| %>
      <li><%= link_to "#{owner.first_name} #{owner.last_name}", owner_attribute_path(owner) %></li>
    <% end %>
  </ul>

  <hr>

  <p><%= link_to "Create a new owner profile", new_owner_attribute_path %></p>

</div>
