.medication_name select {
  width: 100%
}

.note_content {
  width: 100%;
}

.note_content textarea {
  width: 100%;
}

.col h6 {
  margin-bottom: 0;
}

.col p {
  margin-bottom: 0;
  padding-left: 2%;
}
