.animal_name input{
  margin-left: 30px;
  margin-bottom: 10px;
}

.animal_species select{
  margin-left: 66px;
  margin-bottom: 10px;
}

.animal_breed select{
  margin-left: 92px;
  margin-bottom: 10px;
}

.animal_gender select{
  margin-left: 70px;
  margin-bottom: 30px;
}
