/* @tailwind base;
@tailwind components;
@tailwind utilities; */



/* @layer components {
  .animal-card {
    @apply border border-gray-300 rounded-lg;
    height: 20rem;
    width: 16rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
  }
} */
